<div class="form-check">
  <input 
    class="form-check-input" 
    type="checkbox"
    name="{{name}}" 
    id="tag-checkbox-{{id}}"
    value="{{value}}" >
  <label 
    class="form-check-label" 
    for="tag-checkbox-{{id}}">
    {{text}}
  </label>
</div>