<div class="form-check">
  <input 
    class="form-check-input" 
    type="checkbox"
    name="{{name}}" 
    id="checkbox-{{name}}-{{id}}"
    value="{{value}}" >
  <label 
    class="form-check-label" 
    for="checkbox-{{name}}-{{id}}">
    {{text}}
  </label>
</div>