<div class="mb-3">
  <label 
    for="{{inputName}}" 
    class="form-label">
    {{label}}
  </label>
  <input 
    type="{{type}}" 
    class="form-control"
    name="{{inputName}}"
    id="{{inputName}}" 
    placeholder="{{placeholder}}">
</div>