<div class="mb-3">
  <label 
    for="{{inputName}}" 
    class="form-label">
    {{label}}
  </label>
  <input 
    type="{{#if type}}{{type}}{{else}}text{{/if}}" 
    class="form-control"
    name="{{inputName}}"
    id="{{inputName}}" 
    placeholder="{{placeholder}}"
    value="{{value}}">
</div>